          body {
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              padding: 20px;
              background-image: url(https://t4.ftcdn.net/jpg/01/27/10/27/360_F_127102793_T3xjCOEUKV5vy3WgNMxpDRnEMSFFHh5b.jpg);
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              min-height: 100vh;
              position: relative;
              overflow-y: auto;
          }

          @media (max-width: 768px) {
  .calculator {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
  }
  
  input {
    width: 100%;
  }
}

          .calculator {
              display: flex;
              flex-direction: column;
              gap: 20px;
              padding: 20px;
              align-items: center;
              background:#f0f4f8;
              border-radius: 5px;
             box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 773px;
    width: 100%;
    margin: 30px 30px auto auto;
    height: auto;
    margin-top: 2px;

          }

          .text {
              font-weight: bold;
          }

          input {
              padding: 20px;
              width: 300px;
              display: block;
              margin: 0 auto;
          }

          h1 {
              color: #040405;
              text-align: center;
              padding: 4px;
              text-decoration-line: underline;
              font-size: 35px;
          }

          button {
              cursor: pointer;
              margin: 40px auto 0 auto;
              width: 200px;
              display: block;
              padding: 4px;
              font-size: 25px;
          }
          #result{
            text-align: center;
            padding: 20px;
            font-weight: bold; 
            font-size: 35px;
          }
          /* .over{
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100vh;

          } */
           .background{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.65);
            z-index: -1;
           }
           .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    text-align: center;
}
.group label{
    padding: 7px;
}
